img {
width: 200px;
height: 200px;
border:1px solid #ddd;    
border-radius: 50%;
box-shadow: 0 2px 5px #aaa;
margin: 5% auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;    
 }
img:hover {
border-radius: 3px;
 }